<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<link rel="stylesheet" href="/styles/layout.css" type="text/css" />

<!-- Scripts -->
<script src="/scripts/app.js"></script>

  <title>Product_id</title>
</head>
<body>

  <%- include('_header'); %>

  <main style="margin: 2em;">
    <h3>The product you selected</h3>
    <% if (message) { %>
      <div class="alert alert-success" role="alert">
        <%= message %>
      </div>

    <% }%>
  
  <div class= "product-id">
    <div class="card" style="width: 30rem;">
      <img class="card-img-top" src="<%= products.thumbnail_photo %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= products.title %></h5>
        <p class="card-text"><%= products.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Brand: <%=products.brand%></li>
        <li class="list-group-item">Size: <%=products.size%></li>
        <li class="list-group-item">Price: <%=products.price%></li>
      </ul>
    </div>




    <!-- Adding item to favourites -->

    <div class="card-body">
      <form class= "form-inline" action="/favourites/new" method="POST">
        <input type="hidden" name="prodID" value="<%= products.id %>" />
        <button id="fav" type="submit" class="btn btn-primary"> Add to favourites</button>
      </form>
    </div>

    <a href="#" id="fav" title="[+] Add as favorite">&nbsp;</a>


<!-- Contact Form -->
    <div class="form-group">
      <form class="form-inline" action="/products/contact" method="POST">
        <label for="contactForm">Contact the seller:</label>
        <textarea class="form-control" type="text" name="contact" placeholder="Message the seller" style="width: 300px; margin: 1em"></textarea>
        <button type="submit" class="btn btn-primary" ><a href="mailto:someone@example.com">Send email</a></button>
      </form>
    </div>




  </div>
 <!-- Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
